.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    width: 300px;
  }
  
  h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 10px;
    width:93%;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #666;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .modal-actions {
    display: flex;
    justify-content: space-between;
    padding: 1%;
    margin-top: 20px;
  }

  .modal-actions button {
    flex: 1;
    margin: 0 5px;
    padding: 10px;
  }
  
  button {
    padding: 10px 15px;
    border: none;
    background-color: #28b485;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #23a06a;
  }
  